@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
.stroke-text {
  -webkit-text-stroke: 2px #facc15;
}

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 8s linear infinite;
}

@keyframes heroImageAnimation {
  0% {
    opacity: 0;
    transform: scale(0.92) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

.animate-heroImage {
  animation: heroImageAnimation 0.6s ease-out;
}
@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s infinite;
}

@keyframes bounceMarquee {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(calc(100vw - 100%));
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-bounce-marquee {
  display: inline-block;
  animation: bounceMarquee 10s linear infinite;
}